@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&family=Space+Mono:wght@400;700&display=swap');

$yellow: #fcb72b;
$dark-navy: #495567;
$dim-grey: #939caa;
$light-grey: #e5ecf4;
$snow: #f2f5f9;
$light-yellow: #fff4df;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  min-width: 100vw;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
  min-width: 100vw;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Space Mono', monospace;
    color: $dark-navy;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
    letter-spacing: -2.5px;
  }

  h2 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: -2.14px;
    max-width: 44rem;
  }

  h3 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -1.79px;
  }

  h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -1.07px;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    max-width: 100rem;
    color: $dim-grey;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $dim-grey;
  }

  section {
    padding-top: 12rem;
  }

  img {
    max-width: 100%;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: 2rem;
}

/* ----------------------- */
/* Navmenu */
/* ----------------------- */
.modal {
  background: linear-gradient(rgb(0 0 0 /85%), rgb(0 0 0 / 75%));
  opacity: 0;
  transition: 0.2s ease-in;
}

.modal--active {
  position: fixed;
  inset: 0;
  opacity: 1;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding-block: 2rem;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 110rem;
  // margin: 0 auto;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 9999;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    background: #fff;
    z-index: -1;
  }
}

.nav__logo {
  background: url('../assets/logo.svg') no-repeat center/contain;
  display: inline-block;
  width: 7.5rem;
  height: 2rem;
  margin: 0 auto;
}

.nav__links--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $dark-navy;
  text-align: left;
  position: absolute;
  top: 6rem;
  left: -100%;
  width: 25.6rem;
  visibility: hidden;
  height: calc(100vh - 6.4rem);
  padding: 4rem 1.5rem 1.5rem;
  transition: left 0.2s ease-out, opacity 0.2s ease-out;
}

.nav__links--mobile .link {
  color: #fff;
}

.nav__links--mobile .link:hover {
  color: $yellow;
}

.nav__links--active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.nav__hamburger {
  background: url('../assets/icons/hamburger.svg') no-repeat center/cover;
  width: 2rem;
  height: 1.6rem;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.nav__hamburger:focus {
  outline: 3px dashed $yellow;
}

.nav__hamburger--active {
  background: url('../assets/icons/close.svg') no-repeat center/cover;
}

.nav__links {
  display: none;
}

.nav__btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }

  .nav__logo {
    width: 10rem;
    height: 3rem;
    margin: 0;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
  }

  .nav__links li:not(:last-child) {
    margin-right: 2rem;
  }

  .nav__btn {
    display: inline-block;
    margin-left: auto;
  }

  .nav__links--mobile {
    display: none;
  }
}

@media screen and (min-width: 1px) and (max-width: 375px) {
  .nav .nav__btn {
    display: none;
  }
  .nav__logo {
    margin: 0 auto 0 calc(38% - 2rem);
  }
}

// BUTTON

.btn {
  display: inline-block;
  font-family: 'Space Mono', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  background-color: $yellow;
  color: #fff;
  border: 1px solid transparent;
  padding: 1rem 4rem;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: $yellow;
    background-color: transparent;
    color: $yellow;
  }
}

.btn-outline {
  background-color: transparent;
  border-color: $yellow;
  color: $yellow;

  &:hover {
    background-color: $yellow;
    color: #fff;
  }
}

.link {
  color: #929baa;
  display: inline-block;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: #fcb72c;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ----------------------- */
/* CTA section */
/* ----------------------- */

.cta {
  background: url('../assets/patterns/semi-circles.svg') no-repeat;
  background-position: 160% 100%;
  background-color: $dark-navy;
  background-attachment: absolute;
  padding-bottom: 10.2rem;
}

.cta .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta .cta__title {
  flex-basis: 45rem;
}

.cta__title h2 {
  color: #fff;
}

.cta .cta__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .cta {
    background-position: 90% 100%;
    padding-bottom: 10.2rem;
  }

  .cta .container {
    flex-direction: column;
  }

  .cta .cta__title {
    flex-basis: 10rem;
    width: 45rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .cta__title h2 {
    color: #fff;
  }

  .cta .cta__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .cta {
    background-position: 50% 100%;
  }
}

@media screen and (max-width: 375px) {
  .cta {
    background: url('../assets/patterns/semi-circles.svg') no-repeat;
    background-position: 77% 100%;
    background-color: $dark-navy;
    background-attachment: absolute;
    padding-bottom: 10.2rem;
  }
  .cta .cta__title {
    margin-bottom: 0;
  }
  .cta .cta__title h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    max-width: 30rem;
    margin-left: 8rem;
  }
  .cta .cta__buttons {
    width: 25.6rem;
  }
}

/* ----------------------- */
/* footer */
/* ----------------------- */
.footer {
  background-color: #333a44;
  padding: 6.4rem 0 8.8rem 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer__list {
  text-align: center;
  margin-bottom: 8.5rem;
}

.footer__list li {
  margin-bottom: 1.6rem;
}

.footer__list li a {
  font-size: 1.5rem;
  transition: color 0.25s ease-out;
}

.footer__list li a:hover {
  color: $yellow;
}

.footer__links .social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.footer {
  padding: 3.5rem 0 3.2rem 0;
}

.footer__links {
  flex-direction: row;
  justify-content: flex-start;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-align: left;
  margin-bottom: 0;
  margin-left: 4rem;
}

.footer__list li {
  margin-bottom: 0;
}

.social__icons {
  cursor: pointer;
  margin-left: auto;
}

.social__iconhover:hover {
  fill: $light-grey;
}

@media screen and (max-width: 375px) {
  .footer__links {
    flex-direction: column;
    margin-top: 6.4rem;
  }

  .footer__list {
    flex-direction: column;
    margin-left: 0;
  }
  .footer .footer__list {
    padding: 0;
  }

  .social__icons {
    margin-left: 0;
    margin-block: 8.5rem;
  }
}

.design-header {
  background: url('../assets/images/careers-locations-hero-desktop.jpg')
    no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 7.2rem;
  position: relative;
  margin-top: 8.7rem;
}

.design-header .container {
  max-width: min(90%, 120rem);
  margin: 0 auto;
  position: relative;
}

.design-header h3 {
  color: #fff;
}

.design-header .white-circles {
  position: absolute;
  top: 5.6em;
  right: -3rem;
}

@media screen and (max-width: 768px) {
  .design-header {
    padding-block: 6rem;
  }

  .design-header h3 {
    font-size: 5.6rem;
    line-height: 5.6rem;
    max-width: 36rem;
  }
}
@media screen and (max-width: 375px) {
  .white-circles {
    display: none;
  }
  .design-header h3 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -1.7857142686843872px;
    text-align: center;
  }
}
/* ----------------------- */
/* Locations */
/* ----------------------- */

.map__inner {
  position: relative;
}

.map__text {
  position: absolute;
  background-color: $yellow;
  padding: 1.6rem 5.4rem;
}

.map__text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 1rem);
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-top-color: $yellow;
}

.new-york {
  top: 6.4rem;
  left: 14.7rem;
}

.london {
  top: 2.4rem;
  left: 39.5rem;
}

.yokohama {
  top: 9rem;
  left: 84rem;
}

.jakarta {
  top: 26.4rem;
  left: 76.5rem;
}

.message__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12rem;
}

.message__box h2 {
  max-width: 35rem;
}

.message__box p {
  max-width: 45rem;
}

@media screen and (max-width: 1024px) {
  .new-york {
    top: 2.3rem;
    left: 8rem;
  }

  .map__text {
    padding: 0.5rem 4rem;
    font-size: 1.3rem;
  }

  .london {
    top: 1.2rem;
    left: 24rem;
  }

  .yokohama {
    top: 5.5rem;
    left: 51rem;
  }

  .jakarta {
    top: 15rem;
    left: 46.5rem;
  }

  .message__box {
    flex-direction: column;
  }

  .message__box h2 {
    max-width: 50rem;
    text-align: center;
    text-transform: capitalize;
  }

  .message__box p {
    max-width: 58rem;
    margin-block: 4rem;
    text-align: center;
  }
}

.mobile-map {
  display: none;
}

@media screen and (max-width: 375px) {
  .message__box h2 {
    max-width: 50rem;
    font-size: 3.2rem;
  }

  .message__box p {
    max-width: 31rem;
    font-size: 1.5rem;
  }

  .map__text {
    display: none;
  }
  .mobile-map {
    margin-top: 2rem;
    display: block;
  }
  .mobile-map h4 {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: $light-yellow;
    margin-top: 2rem;
  }
}
